<a href="https://colab.research.google.com/github/katsu1231/samurai-terakoya/blob/main/%E3%82%B1%E3%83%BC%E3%82%B9%E3%82%B9%E3%82%BF%E3%83%87%E3%82%A33.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import glob
import pandas as pd

# ワイルドカードを含むパターン
file_list = ["order_A_20230524.xlsx", "order_B_20230524.xlsx", "order_C_20230524.xlsx", "order_D_20230524.xlsx"]

# 結合後のデータを格納するための空のデータフレームを作成
df = pd.DataFrame()

# ファイルを一つずつ処理する
for pattern in file_list:
    # パターンにマッチするファイルをすべて取得
    matched_files = glob.glob(pattern)

    # パターンに合致するファイルがない場合に備えて
    if not matched_files:
        print(f"パターン {pattern} に該当するファイルはありません。")
        continue

    # マッチしたファイルを一つずつ読み込む
    for file_name in matched_files:
        temp_df = pd.read_excel(file_name, header=None)

        # データフレームの列名を指定
        temp_df.columns = ["レタス","白菜","ほうれん草","大根","トマト"]

        # concat()でデータフレームを連結
        df = pd.concat([df, temp_df], ignore_index=True)

print(df)

   レタス    白菜  ほうれん草     大根    トマト
0  トマト  キャベツ    レタス     白菜  ほうれん草
1   13     6     11      8      9
2  レタス    白菜  ほうれん草     大根   ニンジン
3   12     8     10      7     13
4  トマト   レタス     白菜     大根   ニンジン
5    6    11      9      8     12
6  トマト  キャベツ    レタス  ほうれん草   ニンジン
7   12    15      8      4      7

In [ ]:
import glob
import pandas as pd

# ワイルドカードを含むパターン
file_list = ["order_A_20230524.xlsx", "order_B_20230524.xlsx", "order_C_20230524.xlsx", "order_D_20230524.xlsx"]

# 結合後のデータを格納するための空のデータフレームを作成
df = pd.DataFrame()

# ファイルを一つずつ処理する
for pattern in file_list:
    # パターンにマッチするファイルをすべて取得
    matched_files = glob.glob(pattern)

    # パターンに合致するファイルがない場合に備えて
    if not matched_files:
        print(f"パターン {pattern} に該当するファイルはありません。")
        continue

    # マッチしたファイルを一つずつ読み込む
    for file_name in matched_files:
        temp_df = pd.read_excel(file_name, header=None)

        # 最初の行を列名に指定
        new_columns = temp_df.iloc[0].tolist()  # 最初の行の値をリストとして取得
        temp_df = temp_df[1:]  # 最初の行をデータから削除
        temp_df.columns = new_columns  # 列名を設定

        # concat()でデータフレームを連結
        df = pd.concat([df, temp_df], ignore_index=True)

print(df)

   トマト キャベツ レタス   白菜 ほうれん草   大根 ニンジン
0   13    6  11    8     9  NaN  NaN
1  NaN  NaN  12    8    10    7   13
2    6  NaN  11    9   NaN    8   12
3   12   15   8  NaN     4  NaN    7

In [ ]:
import glob
import pandas as pd

# ワイルドカードを含むパターン
file_list = ["order_A_20230524.xlsx", "order_B_20230524.xlsx", "order_C_20230524.xlsx", "order_D_20230524.xlsx"]

def load_order_data(file_list):
    # 結合後のデータを格納するための空のデータフレームを作成
    df = pd.DataFrame()

    # ファイルを一つずつ処理する
    for file_name in file_list:
        # Excelファイルを読み込む
        try:
            temp_df = pd.read_excel(file_name, header=None)

            # 最初の行を列名に指定
            temp_df.columns = temp_df.iloc[0]  # 0行目を列名に設定
            temp_df = temp_df[1:]  # データから列名行を削除

            # concat()でデータフレームを連結
            df = pd.concat([df, temp_df], ignore_index=True)
        except FileNotFoundError:
            print(f"ファイル {file_name} が見つかりません。")
        except Exception as e:
            print(f"エラーが発生しました: {e}")

    # 各商品の合計注文量を計算
    df = df.apply(pd.to_numeric, errors="coerce")  # 数値に変換できない値を NaN に
    total_df = df.sum()  # 合計を計算

    return total_df

# 各店からの注文データを読み込み、合計を計算
total_df = load_order_data(file_list)

# 結果を表示
print(total_df)

0
トマト      31.0
キャベツ     21.0
レタス      42.0
白菜       25.0
ほうれん草    23.0
大根       15.0
ニンジン     32.0
dtype: float64

In [ ]:
import pandas as pd # 在庫表から最新情報を取得

# ファイルパス
file_path = 'inventory.xlsx'

# Excel ファイルを読み込む
inventory_df = pd.read_excel(file_path)

# データフレームの内容を確認
last_row = inventory_df.iloc[-1]

print(last_row)

日付       2023-05-14 00:00:00
曜日                       Sun
トマト                       91
キャベツ                      73
レタス                      103
白菜                        84
ほうれん草                     75
大根                        48
ニンジン                      50
Name: 13, dtype: object

In [8]:
import pandas as pd

# 最新の在庫情報（仮データ: 最終行の情報）
last_row = pd.Series({
    "トマト": 91,
    "キャベツ": 73,
    "レタス": 103,
    "白菜": 84,
    "ほうれん草": 75,
    "大根": 48,
    "ニンジン": 50
})

# 各野菜の合計注文数（仮データ）
total_df = pd.Series({
    "トマト": 31,
    "キャベツ": 21,
    "レタス": 42,
    "白菜": 25,
    "ほうれん草": 23,
    "大根": 15,
    "ニンジン": 32
})

# 新しい在庫状況を計算
remaining_inventory = last_row - total_df

print("最新在庫状況:")
print(remaining_inventory)

最新在庫状況:
トマト      60
キャベツ     52
レタス      61
白菜       59
ほうれん草    52
大根       33
ニンジン     18
dtype: int64

In [9]:
print(total_df)

トマト      31
キャベツ     21
レタス      42
白菜       25
ほうれん草    23
大根       15
ニンジン     32
dtype: int64